{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div>
        <p><a href="/hello" target="_blank">hello</a></p>
        <p><a href="/json" target="_blank">json</a></p>
    </div>
{% endblock %}